html,
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.device-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  margin: 10px;
  text-align: left;
}

.device>.card>.card-content {
  padding: 0;
  max-height: 220px;
  padding-bottom: 0.2rem;
  overflow-y: auto;
}

.device-list-content {
  height: calc(100vh - 170px);
  padding: 0;
  padding-bottom: 0.2rem;
  overflow-y: auto;
}

#root {
  overflow: hidden;
}